GRAFANA_HOST=grafana.domain.com
UPDATE_HOST=update.domain.com
SSLUPDATE_HOST=sslupdate.domain.com
CONTROLLER_HOST=app.domain.com
UPGRADER_HOST=app.domain.com
LIVE_HOST=live.domain.com
APPBACKEND_HOST=api.domain.com
WEBBACKEND_HOST=shopapi.domain.com
TOWELIE_HOST=towelie.domain.com
TIPBACKEND_HOST=tipapi.domain.com
SUPERGREENPROMPROXY_HOST=metrics.domain.com
DISCORD_HOST=discord.domain.com
LIVECAM_HOST=livecam.domain.com
MINIO_HOST=storage.domain.com

POSTGRES_PASSWORD=password

MINIO_ACCESS_KEY=AKIAIOSFODNN7EXAMPLE
MINIO_SECRET_KEY=wJalrXUtnFEMI/K7MDENG/bPxRfiCYEXAMPLEKEY
