GRAFANA_HOST=grafana.domain.com
UPDATE_HOST=update.domain.com
CONTROLLER_HOST=app.domain.com
LIVE_HOST=live.domain.com
APPBACKEND_HOST=api.domain.com
WEBBACKEND_HOST=shopapi.domain.com
TOWELIE_HOST=towelie.domain.com
SUPERGREENPROMPROXY_HOST=metrics.domain.com
DISCORD_HOST=discord.domain.com
